<div class="carritos">
    <h1>Carrito con id: <span id="id-carrito">{{id}}</span> </h1>
    <div id="boxProducts" class="boxProducts"></div>
</div>
<!--<script src="/socket.io/socket.io.js"></script>  Esto ejecuta la conexion d eparte del cliente. -->
<script type="module" src="../js/carritos.js"></script>